* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: linear-gradient(90deg, #6f58c9, #fdca40);
    color: #e6e8e6;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #e6e8e6;
}

form button {
    color: #6f58c9;
    background: #e6e8e6;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #6f58c9;
    color: #e6e8e6;
}

